*{
    box-sizing: border-box;
}

body{
    background-color:rgb(250, 250, 250) ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
 
button{
    background-color: rgb(134, 134, 245);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(176, 172, 172);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

.modal_container{
    display: flex;
    background-color: rgba(173, 168, 168, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 200;
    width: 300; 
}
.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: rgb(141, 140, 140);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    
}

.modal h1 {
    margin: 0;
}

.modal p{
    opacity: 0.7;
    font-size: 14px;
}

body img{
    max-width: 500px;
    display: block;
    margin: 0 auto;
}
